.footer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    height: 27vh;
    background-color: #222;
    .social-media {
        display: flex;
        align-self: center;
        margin: 0 auto;
    }

    .social-media-link {
        margin: 0.5rem;
        padding: 0.1rem;
        background-color: #24a0da;
        border-radius: 0.5rem;
    
    }
    .copyright {
        color: rgb(255, 255, 255);
        font-size: 1rem;
        letter-spacing: 0rem;
        font-weight: 300;
        align-self: center;
    }

}